@import "../css/colors.css";
@import "../css/units.css";
@import "../css/z-index.css";
@import "../css/default-colors.css";

/* Base styles used by Scratch https://github.com/LLK/scratch-www/blob/develop/src/main.scss */
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    border: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    line-height: 1.7em;
}
h1 {
    font-weight: 2.5rem;
}
h2 {
    font-weight: 2rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1rem;
}
a {
    color: $link-color;
    cursor: pointer;
    text-decoration: underline;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: fit-content;
    background-color: $page-background;
}

.editor {
    height: 100%;
}
.editor .center {
    height: 100%;
}
.editor .wrapper-regulator {
    height: 100%;
}

.player-only .center {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    background: $ui-primary;
    margin: 0px;
    padding: 0.5rem;
    min-width: calc(100% - 1rem);
}
.main-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.section {
    width: 480px;
    background: $ui-white;
    margin: 0px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid $ui-black-transparent;
}
.project-credit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: $space;
    width: calc(480px - 1rem);
    padding: 0.75rem 1rem;
    text-align: left;
}

.footer {
    padding: 10px 0;
    border-top: 2px solid $ui-black-transparent;
}
.footer a {
    font-weight: bold;
    text-decoration: none;
}
.footer-content {
    max-width: 600px;
    margin: auto;
}
.footer-text {
    text-align: center;
    margin: 5px 0 10px 0;
}
.footer-columns {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.footer-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 10px;
}
.footer-section > * {
    margin-bottom: 10px;
}

.infobox {
    line-height: 1.5em;
    padding: 0.5rem;
    margin: 5px 0 8px 0;
    border-radius: 0.5rem;
    border: 1px solid #b9d6ff;
    background-color: #dbebff;
}
.infobox p {
    margin: 4px 0;
}
.infobox a {
    font-weight: bold;
    text-decoration: none;
}

.unshared-update {
    border-color: #ff52526e;
    background-color: #ff525240;
}

.tab-list {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 0.25rem;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.80rem;

    /* Overrides for react-tabs styling */
    margin: 0 !important;
    border-bottom: 0 !important;

    color: $text-primary;
}

.tab.is-disabled {
    display: none;
}

.tab {
    height: calc(2.25rem * 0.9);
    margin-bottom: 0;

    border-radius: 1rem 1rem 0.5rem 0.5rem;
    border: 1px solid $ui-black-transparent;

    padding: 0.125rem 1.25rem 0;
    font-size: 0.75rem;

    background-color: $ui-tertiary;
    color: $text-primary-transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    white-space: nowrap;
}

.tab:hover {
  background-color: $ui-primary;
}

.tab.is-selected {
    height: 2.25rem;
    color: $looks-secondary;
    background-color: $ui-white;
}

.tab img {
    width: 1.375rem;
    filter: grayscale(100%);
}

[dir="ltr"] .tab img {
    margin-right: 0.125rem;
}

[dir="rtl"] .tab img {
    margin-left: 0.125rem;
}

.tab.is-selected img {
    filter: none;
}

/* Tab style overrides from react-tabs */
.tab.is-selected:after {
    display: none;
}

.tab.is-selected:focus {
    outline: none;
    box-shadow: none;
    border-color: $ui-black-transparent;
}

.tab.is-selected:focus:after {
    display: none;
}

/* Body of the tabs */
.tabs {
    width: calc(480px + 1rem + 0.125rem);
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tab-panel {
    position: relative;
    flex-grow: 1;
    display: none;
}

.tab-panel.is-selected {
    display: block;
}

.commits-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.commit-link {
    text-decoration: none;
    color: inherit;
}

.commit-item {
    padding: 0.5rem;
    border: 0.0625rem solid $ui-black-transparent;
    border-radius: 0.5rem;
}
.commit-item:hover {
    border-color: $looks-secondary;
}

.commit-message {
    font-weight: bold;
}

.commit-version {
    background-color: $motion-tertiary;
    color: $ui-white;
    border: 1px solid $ui-black-transparent;
    padding: 0.25rem 0.5rem;
    margin: auto;
    border-radius: 1rem;
    width: fit-content;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-grid {
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid $ui-black-transparent;
    border-radius: $space;
    padding: $space;
    gap: $space;
}

.action-content {
    display: flex;
    align-items: flex-start;
    border: 0.0625rem solid $ui-black-transparent;
    border-radius: $space;
    padding: $space;
    gap: $space;
}

.action-avatar {
    width: 2rem;
    height: 2rem;
}

.action-date {
    margin-left: auto;
    font-size: 0.875rem;
}

.loadMoreButton {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0.75rem 1rem;
    background: $looks-secondary;
    color: $ui-white;
    border: 1px solid $looks-secondary;
    font-weight: 600;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
}

.description-field {
    box-sizing: border-box !important;
    width: 100% !important;
    height: 7.5rem !important;
    resize: none !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    border: 0.0625rem dashed $ui-black-transparent !important;
    border-radius: $space !important;
    background-color: $project-title-inactive !important;
    background-clip: padding-box;
    padding: $space !important;
}

.description-field {
    color: $text-primary !important;
    font-weight: bold !important;
    font-size: .8rem !important;
}

.description-field::placeholder {
    color: $text-primary !important;
    opacity: 0.8 !important;
    font-weight: normal !important;
    font-size: .8rem !important;
    font-style: italic !important;
}

.description-field:hover {
    background-color: $project-title-hover !important;
    border-color: $ui-black-transparent !important; /* dont use hover border from custom input */
}
